<!DOCTYPE html>
<html>
<head>
  <title>입사 지원</title>
  <link type="text/css" rel="stylesheet" href="/css/resume.css">
  <link type="text/css" rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
  <!-- 상단 -->
  <br>
  <div id="btn" style="text-align:right";>
    <button id="login" onclick="location='login'">&nbsp 로그인 &nbsp</button>
    <button id="signUp" onclick="location='signUp'">회원가입</button>　&nbsp
  </div>
  <div id="main">
    <h1>꿈을 함께 할 최고의 인재를 모집합니다.</h1><br>
    <h3>최고의 능률과 최대의 성과를 창출할 수 있는</h3>
    <h3>전공과는 무관한 다양한 직무로 지원 가능합니다.</h3>
  </div>
  <br>
</header>
<nav>
  <!-- 카테고리 -->
  <ul>
    <li><a href="/">회사 이념</a></li>｜
    <li><a href="/">채용 공고</a></li>｜
    <li><a href="/">지원 안내</a></li>｜
    <li><a href="resumeform">지원서 작성</a></li>｜
    <li><a href="/">문의사항</a></li>
  </ul>
</nav>
<section>
  <br>
  <div style="text-align:center";>
    <img src="home3.jpg" id="img" width="1500" height="650"/>
  </div>
  <br>
  <div class="corp">
    <ul>
      <li><a href="/">© choongang Corp. All rights reserved.</a></li>
    </ul>
  </div>
</section>
</body>
</html>
